.about-us {
    width: 100%;
    background-color: #2eb398;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.about-us-item {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 90%;
    margin: 30px 0px;
}

.about-us-words {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.about-us img {
    max-height: 200px;
    width: auto;
}

.about-us h2 {
    color: white;
    margin: 0px;
    font-family: MavenPro;
    font-size: 30px;
}

.about-us p {
    color: white;
    margin: 0px;
    font-family: Lato;
    font-size: 12px;
}

.about-us h4 {
    color: #20816d;
    margin: 0px;
    font-family: MavenPro;
    font-size: 18px;
}

.about-us-social {
    display: flex;
    align-self: flex-end;
}

@media (max-width: 700px) {
    .about-us-item {
        flex-wrap: nowrap;
        width: var(--inner-container-width);
        height: 206px;
        border-left: 1px solid #219d84;
        border-right: 1px solid #219d84;
    }
    .about-us-item > div:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        width: 581px;
    }
    .about-us-social {
        align-self: flex-end;
    }    
}

@media (max-width: 400px) {
    .about-us h2 {
        font-size: 18px;
    }
    .about-us-social {
        align-self: flex-start;
    }
    .about-us-words {
        margin-left: 5px;
    }
}