.contact {
    background-color: #323232;
    height: 564px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lato'
}

.contact h2 {
    font-family: MavenPro;
    font-size: 30px;
    color: #e0e0e0;
    margin-bottom: 8px;
    font-weight: 400px;
}

.contact h4 {
    font-family: MavenPro;
    font-size: 18px;
    color: #bebebe;
    margin-bottom: 20px;
    font-weight: 400px;
}

.contact input {
    color: white;
    background-color: #454545;
    outline: 0px;
    border: 0px;
    height: 38px;
    max-width: 580px;
    width: 100%;
    min-width: 300px;
}

.contact textarea {
    background-color: #454545;
    outline: 0px;
    border: 0px;
    height: 150px;
    width: 50vh;
}

.contact input::placeholder {
    color: #bebebe;
    font-family: lato;
    font-size: 12px;
}

.contact textarea {
    color: #bebebe;
    resize: none;
    height: 150px;
    font-family: lato;
    font-size: 12px;
}

.contact-container {
    width: var(--inner-container-width);
    /* height: 434px; */
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.message-details {
    display: flex;
    justify-content: space-between;
}

.info {
    align-self: flex-start;
}
.contact-message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message input {
    margin-bottom: 16px;
}

.beside-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 170px;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* font-size: 10px; */
    height: 11px;
}

.beside-message p {
    margin: 0 0 46px 0;
}

.contact-details {
    display: flex;
    flex-direction: column;
    height: 120px;
}
