.generator {
    height: 100%;
    width: 100%;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    width: 67%;
    padding: 0;
    font-family: lato;
}
.gallery li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meme-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 12px;
    color: black;
    text-decoration: none;
    margin: 5px;
    width: 200px;
}

.meme-card p {
    flex-wrap: wrap;
}
.gallery p {
    text-align: center;
    margin-top: 15px;
}
.gallery img {
    width:200px;
    height: 200px;    
}

.step-one {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.gallery-map {
    display: flex;
    justify-content: space-around;
    width: 100%;
    transition: all 0.5s;
}

.popular-keywords {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:20px;
}

.popular-keywords h6 {
    display: inline-block;
    margin: 5px;
}

.popular-keywords h6:hover {
    cursor: pointer;
}

.image-add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.image-add input {
    padding: 5px;
}

.imageAdd {
    align-self: center;
}
.search-nav {
    margin: 0 10vw;        
    width: 80%;
    box-sizing: border-box;
    height: 50px;
    background-color: #2eb398;
    display: flex;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    color: white;
    font-family: lato;
    font-size: 14px;
}

/* .search-nav:hover {
    cursor: pointer;
} */

.search-nav > div {
    width: 25%;
    padding: 10px;
}

.search-nav label:hover {
    cursor: pointer;
}

.search-nav > div:nth-child(3) {
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.search-nav > div:first-child {
    border-right: 1px solid white;
}

.search-nav > div > div {
    transform: scaleY(0);
    transform-origin: top;    
    transition: 0.5s;
    opacity: 0;
    background-color: white;
    color: black;    
    width: 100%;
    position: absolute;
    left: 0;
    top: 142px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.popular-keywords{
    display: flex;
    flex-direction: row;
    width: 80%;
}
.search-box.open {
    transform: scaleY(1);    
    opacity: 1;
}
.popular-keywords-container.open {
    transform: scaleY(1);    
    opacity: 1;
}
.image-url.open {
    transform: scaleY(1);    
    opacity: 1;
}
.img-upload.open {
    transform: scaleY(1);    
    opacity: 1;
}

.gallery-down {
    margin-top: 300px;
    
}

@media (max-width: 650px) {
    .gallery img {
        width: 150px;
        height: 150px;
    }
    .meme-card {
        width: 150px;
    }
}

@media (max-width: 500px) {
    .gallery img {
        width: 100px;
        height: 100px;
    }
    .meme-card {
        width: 100px;
    }
    .search-nav {
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    .gallery img {
        width: 80px;
        height: 80px;
    }
    .meme-card {
        width: 80px;
    }
}
.gallery-down {
    margin-top: 300px;
}
