.generator {
    display: flex;
    flex-flow: column wrap;
    margin: 30px;
}
canvas {
    max-width: 90vw;
    max-height: 1000px;
}
.step-two {
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.inputs-container {
    display: none;
}
.inputs-container-mobile {
    display: block;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 90vw;
}
#edit-checkbox {
    display: none;
}

.open-edit {
    color: #2eb398;
    transition: all 1s;
}
.user-input {
    transform: scaleY(0);
    transform-origin: top;    
    transition: 0.5s;
    opacity: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: #454545;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}
.user-input div {
    display: inline-block;
}

#edit-checkbox:checked ~ .user-input {
    transform: scaleY(1);    
    opacity: 1
} 
.meme button {
    font-size: 25px;
    margin: 3px;
    border-radius: 4px;
}
.inputs-container-mobile input{
    width: 90vw;
    height: 50px;
    margin: 10px;
    margin: 5px;
}

@media (min-width: 740px) {
    .inputs-container {
        display: block;
        left: 100px;
    }
    .inputs-container-mobile {
        display: none;
    }
    .meme {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    .user-input {
        transform: scaleY(1);
        opacity: 1;
    }
    .open-edit::before {
        display: none;
    }
    
}