nav {
    height: 63px;
    width: 100%;
    background-color: #323232;
    position: fixed;
    z-index: 3;    
}

#nav-checkbox {
    display: none;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 63px;
    height: 70vh;
    width: 100%;    
    background-color: #454545;
    border-bottom: 1px solid white;
    transform: scaleY(0);
    transform-origin: top;    
    transition: 0.5s;
    opacity: 0;
    z-index: 3;
}

#nav-checkbox:checked ~ .nav-container {
    transform: scaleY(1);    
    opacity: 1
}
 
.pointy-thingy {
    display: flex;
    justify-content: center;
    height: 91px;
    align-self: center;
}

.pointy-thingy:hover {
    cursor: pointer;
}

.pointy-thingy img {
    position: absolute;  
    z-index: 4;
    top:0;    
}

.pointy-thingy img:last-child {
    margin-top: 10px;
}
.nav-container ul:first-child {
    margin-top: 20px;
}
.nav-container ul {
    margin: 0px;
    padding: 0px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-container li {
    width: 100%;
    text-align: center; 
    list-style-type: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Lato Bold;
    font-size: 35px;
    transition: 0.3s;
    box-sizing: border-box;
    border-bottom: 1px solid white;    
    height: 25%;
    width: 75vw;
}

.list-point {
    display: none;
}

nav ul li:hover {
    color: #2eb398;
    border-bottom: 1px solid #2eb398;
    cursor: pointer;   
}

li a {
    transition: 0.3s;
}

li a:hover {
    color: #2eb398;  
}

.list-point:hover {
    color: white;
    cursor: default;
}

@media (min-width: 900px) {
    nav {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .nav-container {
        transform: scaleY(1);
        opacity: 1;
        background-color: #323232;
        max-width: 702px;
        height: 63px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 0px;
        top: 0;
        z-index: 3;
    }
    .nav-container ul {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 30%;
    }
    .nav-container li {
        list-style-type: none;
        color: #ffffff;
        text-transform: uppercase;
        font-family: Lato Bold;
        font-size: 10px;
        transition: 0.3s;
        padding: 0px;
        border: 0px;
        width: 100%
    }    
    nav ul li:hover {
        color: #2eb398;
        border: 0px;        
    }
    .list-point {
        display: block;
    }
    .nav-container ul:first-child {
        margin-top: 0px;
    }
    .pointy-thingy img:first-child {
        z-index: 0
    }
    .pointy-thingy:hover {
        cursor: default;
    }

    li a {
        transition: 0.3s;
    }
    
    li a:hover {
        color: #2eb398;  
    }
}

@media (max-width: 330px) {
    .nav-container li {
        font-size: 30px;
    }
}